body{

background-color: black;
color: white;
text-align: center;

}

.page-wrapper{

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    padding: auto;
    background-color: white;
    width: 50%;
    margin-top: 5%;
    height: 300px;
    color: black;

}
div{
    margin: 1%;
}
.element-top-left{
    top: 1px;
    left: 1px;
}
 .element-top-right{
    top: 1px;
    right: 1px;
}
 .element-bottom-left{
    position:absolute;
    bottom: 1px;
    left: 1px;
}
 .element-bottom-right{
    position: absolute;
    bottom: 1px;
    right: 1px;
}
.element-center{
    align-items: center;
    position: absolute;
    text-align: center;
    top:50%;
    left: 50%;
    
}